.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: rgb(43, 43, 43);
  color: #fff;
}
.nav-branding {
  color: #fff;
  font-size: 2rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-item {
  color: #fff;
}
.nav-link {
  color: #fff;
  transition: 0.7s ease;

  &:hover {
    color: rgb(26, 109, 218);
  }
}
.burger {
  display: none;

}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width:768px) {
  .burger {
    display: block;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}